<!DOCTYPE html>
<head xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
</head>
<body>
<h2>Add Student</h2>
<form th:action="@{/students/add}" th:object="${student}" method="post">
    Name: <input type="text" th:field="*{name}" required /><br/>
    Email: <input type="email" th:field="*{email}" required /><br/>
    Course: <input type="number" th:field="*{course}" required /><br/>
    <button type="submit">Add Student</button>
</form>
<a th:href="@{/students}">Back to Student List</a>
</body>
</html>

