<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Student</title>
</head>
<body>

<h2>Edit Student</h2>

<form th:action="@{/students/update}" th:object="${student}" method="post">

    <input type="hidden" th:field="*{id}"/>

    <label>First Name</label>
    <input type="text" th:field="*{firstName}" required/><br><br>

    <label>Last Name</label>
    <input type="text" th:field="*{lastName}" required/><br><br>

    <label>Email</label>
    <input type="email" th:field="*{email}" required/><br><br>

    <label>Course ID</label>
    <input type="number" th:field="*{courseId}" required/><br><br>

    <button type="submit">Update Student</button>
</form>

</body>
</html>
